modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
BOT_TOKEN = "8326161924:AAFTdL-HHFn8QdkQoQKL8-UOVOyvl-UR0I8"
PHONE_NUMBER = "6287797261056"
TELETHON_API_HASH = "1f7820048a4044271c5e6cbb852a80d8"
TELETHON_API_ID = "35963173"
TELETHON_SESSION = "1BVtsOK0Bu2rcv3CmwEZO1YugyfRc-1_vIy2QiK6hUgDPJ85u0QfH47UzIUxdqK3nsVZz4tLmiFLor-suJ13iIhmglRfxFIGJUBLS3xP7b_4vZOiXXr_kGM9g1ZlSD2-C5bIEL6Of1UmiGD5Ag6-V9dtjP747Br1DCVpVkacJAUGRr5gi72AxX3p8wV_9lqp1jvO8H9z9B5uPcALC_0derCxe5nO3qdFstp8I9QayNdJop4BiPVmrGNySooQ7Kup3buYzMEWocm0kr4lRUcs5JpPe9Fz8BdiuTQDnlfRTOLtlznu2387qUdX6pCjnC6SW4YbwOyoFml06xZucgiInwpRmqrw8eAU="

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "tcl", "tk", "zlib"]
