modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
BOT_TOKEN = "8326161924:AAFTdL-HHFn8QdkQoQKL8-UOVOyvl-UR0I8"
PHONE_NUMBER = "6287797261056"
TELETHON_API_HASH = "1f7820048a4044271c5e6cbb852a80d8"
TELETHON_API_ID = "35963173"

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "tcl", "tk", "zlib"]
